
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

body.lock-zoom {
  touch-action: none;
  overscroll-behavior-y: none;
}

.nav {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-top:0.3rem;
  max-width: 500px;
  margin: auto;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title {
  margin-bottom: 0;
  font-weight: 800;
}

.game {
  max-width: 500px!important;
  margin: auto;
}

.container {
  max-width: 500px;
}

.listing-card {
  border: 0px;
}

.listing-card {
  border-width: 0px!important;
}

.carg-img {
  object-fit: cover;
  width: 200px;
  height:100px!important;
}

.card-image-top {
  height:100px!important;
}




.card-img, .card-img-bottom, .card-img-top {
  height:280px!important;
}

.listing-detail-answer {
  font-size: 16px;
  font-weight: 700;
}



.listing-detail-answer-blur {
  filter: blur(5px);
}

.listing-card-body {
  padding-bottom:0px!important;
}

.alert {
  padding-top: 0.5rem!important;
  padding-bottom: 0.5rem!important;
}

.alert p {
  margin-bottom: 0px;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.feature-group {
  display: flex;
}

.feature-group-item {
  margin-right: 1rem;
}

.guess-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

.guess-form-submit-button {
  background-color: #1CC468!important;
  width: 100%;
  border: 0px;
  font-size: 16px;
  height: 100%;
  color: white;
  border-radius: 5px;
}

.guess-form-input {
  width: 100%;
}

.guess-form-column {
  padding-left: 0px!important;
  
}

.date-sold-container {
  width: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: middle;
  border-radius: 5px;
}

.guess-form {
  position: relative;
  padding: 1rem;
}



@media screen and (max-width: 600px) {
  .feature-title {
    font-size: 14px;
  }

  .listing-card-container {
    padding: 0px!important;
  }

  .guess-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

  .card-img, .card-img-bottom, .card-img-top {
  height:230px!important;
}
}